# =============================================================================
# List of packages to install, format:
#   packageName==packageVersion
# =============================================================================
#
# emoji==2.1.0
